<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk(form)"
  [nzOkLoading]="isOkLoading"
>
<app-alert [showAlert]=showAlert></app-alert>

<form nz-form #form="ngForm" novalidate>
  <nz-form-item>
    <nz-form-label [nzSpan]="5">Name</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required and minlength is 4">
      <input nz-input [(ngModel)]="tempInstitution.name" #name="ngModel" name="name"
      [class.has-error]="formSubmitted && name.invalid"
       name="name" required minlength="4"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5">Description</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="MaxLength is 6">
      <textarea nz-input [(ngModel)]="tempInstitution.description" name="description"></textarea>
    </nz-form-control>
  </nz-form-item>
</form>
</nz-modal>
