<div class="back">
  <div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
    <div nz-col [nzSpan]="10">
      <nz-card class="card-register" nzTitle="Candidate Register">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">First name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid FirstName!">
              <input nz-input formControlName="firstName" id="firstName" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">Last name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Last name">
              <input nz-input formControlName="lastName" id="lastName" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="identityCard">Identity card</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Identity card">
              <input nz-input formControlName="identityCard" id="identityCard" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="userName" nzRequired>User name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your User name!">
              <input nz-input id="userName" formControlName="userName" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
              <input nz-input formControlName="email" id="email" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="age">Age</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Age!">
              <input type="number" step="1" min="18" max="100" nz-input formControlName="age" id="age" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
              <input nz-input type="password" id="password" formControlName="password"
                (ngModelChange)="updateConfirmValidator()" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
              <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please confirm your password!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Two passwords that you enter is inconsistent!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nz-row>
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <nz-spin [nzSpinning]="isLoading" [nzSize]="'large'" nzTip="Loading...">
              <button class="register-buttom" nz-button nzType="primary">Register</button>
            </nz-spin>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-card>
    </div>
  </div>
</div>
