


      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }

      .card-login {
        margin-top: 20%;
       }

       .back {
          width: 100%;
          height: 100%;
          background-image: url("https://wallpaperset.com/w/full/1/a/3/8568.jpg");
        }

